# A template for Supabase CLI configuration.
# For more info: https://supabase.com/docs/guides/cli/config

project_id = "planner-app-local"

[api]
port = 54321
schemas = ["public"]
extra_search_path = ["public"]
max_rows = 1000

[db]
port = 54322
shadow_port = 54320
major_version = 15

[studio]
port = 54323

[auth]
enabled = true
site_url = "http://localhost:5173"
additional_redirect_urls = ["https://localhost:5173"]
jwt_expiry = 3600
enable_signup = true

[storage]
enabled = true

[inngest]
enabled = false
